<aside class="col-3">
    <h5>
        Существующие таблицы
    </h5>
    <ul class="nav flex-column">
        <li class="nav-item"><a href="{% url 'subjects' %}" class="nav-link">Предметы</a></li>
        <li class="nav-item"><a href="{% url 'teachers' %}" class="nav-link">Преподаватели</a></li>
        <li class="nav-item"><a href="{% url 'academic_plan' %}" class="nav-link">Учебный план</a></li>
        <li class="nav-item"><a href="{% url 'groups' %}" class="nav-link">Академические группы</a></li>
        <li class="nav-item"><a href="{% url 'lessons' %}" class="nav-link">Проведенные занятия</a></li>
    </ul>
</aside>

